<%= render "shared/filter" %>
<div class="main-content">
  <%= render @addresses %>
</div>

<%= paginate @addresses %>

<% content_for :right do %>
  <div id="right-content">

    <div id="bnt-box" class="row">
      <button class="btn btn-danger col-md-10 col-md-offset-1">
        <%= t "button.add_address" %>
      </button>
      <button class="btn btn-danger col-md-10 col-md-offset-1">
        <%= t "button.quick_guide" %>
      </button>
    </div>
    <div id="recent-address-box" class="row">
      <div id="right-content-title">
        <span class="glyphicon glyphicon-home"></span>
          <strong><%= t "recent_address" %></strong>
      </div>
      <div >
        <%= render partial: "recent_address", collection: @recent_addresses %>
      </div>
    </div>
  </div>
<% end %>

<h2>action</h2>
                    <div class="icon-preview"><i class="mdi-action-3d-rotation"></i><span>mdi-action-3d-rotation</span></div>
                    <div class="icon-preview"><i class="mdi-action-accessibility"></i><span>mdi-action-accessibility</span></div>
<h2>Emphasis classes</h2>
<p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
<p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
<i class="mdi-toggle-radio-button-on"></i>
<form class="form-horizontal">
    <fieldset>
        <legend>Legend</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input class="form-control" id="inputEmail" placeholder="Email" type="email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input class="form-control" id="inputPassword" placeholder="Password" type="password">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Checkbox
                    </label>
                </div>
                <br>
                <div class="togglebutton">
                    <label>
                        <input checked="" type="checkbox"> Toggle button
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputFile" class="col-lg-2 control-label">File</label>
            <div class="col-lg-10">
                <input readonly="" class="form-control floating-label" placeholder="Browse..." type="text">
                <input id="inputFile" multiple="" type="file">
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Textarea</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Radios</label>
            <div class="col-lg-10">
                <div class="radio radio-primary">
                    <label>
                        <input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
                        Option one is this
                    </label>
                </div>
                <div class="radio radio-primary">
                    <label>
                        <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                        Option two can be something else
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Selects</label>
            <div class="col-lg-10">
                <select class="form-control" id="select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <br>
                <select multiple="" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
